.popupWrapper {
  position: absolute;
  top: 40;
  left: 40;

  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 5px 20px rgba(5, 0, 255, 0.1),
    inset 0px -3px 15px rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}

.list {
  margin: 0;
}

.item {
  cursor: pointer;
}

.text,
.email {
  color: #9e9e9e;
  font-family: 'CircleRoundedAlt';
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

.email {
  text-align: left;
  cursor: pointer;
}
.email:hover,
.email:focus {
  color: #000;
}

.itemWrapper {
  display: flex;
  align-items: center;
  min-width: 140px;
}

.itemWrapper:hover .text {
  color: #000;
}

.itemWrapper:hover .icon path {
  fill: black;
}

.icon {
  margin-right: 6px;
}

.title {
  composes: text;
  margin-bottom: 16px;
}

.btnsWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnLeave,
.btnContinue {
  height: 30px;
  padding: 8px;
  font-family: 'CircleRoundedAlt';
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.btnLeave {
  margin-right: 10px;
}
