.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.audioBtn {
  display: flex;
  margin-bottom: 5px;
  cursor: pointer;
  transition-property: transform;
}

.audioBtnCurrent {
  composes: audioBtn;
  font-weight: 700;
}

.audioBtn::before {
  content: '';
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 103, 103);
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
}
