.title {
  font-family: 'CircleRoundedAlt';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  color: #94cdf5;
}

.list {
  display: block;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 831px;
  margin-top: 20px;
}

.itemWrapper {
  display: flex;
  align-items: center;
}

.inactive {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.current {
  composes: inactive;
  background-color: #94cdf5;
}

.right {
  composes: inactive;
  background-image: url('../../images/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #85ffb6;
}

.wrong {
  composes: inactive;
  background-image: url('../../images/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff8585;
}

.lineWrapper {
  display: flex;
  align-items: center;
  height: 50px;
}

.line {
  margin-left: 4.5px;
  width: 135px;
  height: 5px;
  background-color: #d9d9d9;
  border-radius: 2.5px;
}

.doubleTrueLine {
  composes: line;
  background-color: #85ffb6;
}

.doubleWrongLine {
  composes: line;
  background-color: #ff8585;
}

.firstTrueThenCurrentLine {
  composes: line;
  background-image: linear-gradient(
    270deg,
    #94cdf5 0%,
    #a5f2e4 49.93%,
    #85ffb6 100%
  );
}

.firsWrongThenCurrentLine {
  composes: line;
  background-image: linear-gradient(
    270deg,
    #94cdf5 0%,
    #a5f2e4 49.93%,
    #ff8585 100%
  );
}

.firstTrueThenWrongLine {
  composes: line;
  background-image: linear-gradient(
    270deg,
    #85ffb6 0%,
    #e7e8dd 49.4%,
    #ff8585 100%
  );
}

.firsWrongThenTrueLine {
  composes: line;
  background-image: linear-gradient(
    270deg,
    #ff8585 0%,
    #e7e8dd 49.4%,
    #85ffb6 100%
  );
}

.hidden {
  display: none;
  visibility: hidden;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nextBtn {
  width: 100px;
  height: 40px;
  border: none;
  background-color: #94cdf5;
  border-radius: 5px;
  color: #fff;
  font-family: 'CircleRoundedAlt';
  font-size: 25px;
  cursor: pointer;
}
