.container {
  height: 500px;
  background-color: #fff;
}

.list {
  list-style: none;
  padding: 0;
}

.frame {
  display: block;
  margin: 0 auto;
}

.audioBtn,
.answerBtn {
  display: flex;
  margin-bottom: 5px;
  cursor: pointer;
}

.audioBtn::before,
.answerBtn::before {
  content: '';
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 103, 103);
  cursor: pointer;
}

.answerBtn::before {
  background-color: rgb(31, 138, 9);
  border-radius: 10%;
}

.hidden {
  display: none;
  visibility: hidden;
}
