.controls {
  /* position: relative; */
}

.musicControls {
  /* display: block;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 59px;
}

.musicControls span:hover {
  color: #2a6586;
}

.play {
  border: 1px solid red;
  width: 168px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* 

  background: #94cdf5;
  cursor: pointer; */
}

.icon g {
  width: 168px;
  height: 168px;
  cursor: pointer;
}

.hidden {
  display: none;
  visibility: hidden;
}

.textRobo,
.textMusic {
  margin: 0;
  margin-top: 37px;
  font-family: 'CircleRoundedAlt';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  text-align: center;
  color: #94cdf5;
}
.textMusic {
  color: #c972df;
}

/* VOLUME */
.volume {
  position: absolute;
  top: 60px;
  right: 167px;
  display: flex;
  align-items: center;
  transition: all 500ms;
  /* border: 1px solid rgb(255, 0, 255); */
}

.volumeControl {
  display: flex;
  align-items: center;
  /* border: 1px solid rgb(255, 0, 255); */
}

/* INPUT VOLUME */
input[name='volBarRobo'] {
  -webkit-appearance: none;
  width: 114px;
  height: 4px;
  margin-left: 4px;
  background: rgba(185, 226, 255, 0.5);
  border-radius: 5px;
  background-image: linear-gradient(#94cdf5, #94cdf5);
  background-size: 40% 100%;
  background-repeat: no-repeat;
}
input[name='volBarMusic'] {
  -webkit-appearance: none;
  width: 114px;
  height: 4px;
  margin-left: 4px;
  background: rgba(201, 114, 223, 0.2);
  border-radius: 5px;
  background-image: linear-gradient(#c972df, #c972df);
  background-size: 40% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb VOLUME */
input[name='volBarRobo']::-webkit-slider-thumb,
input[name='volBarMusic']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #94cdf5;
  cursor: ew-resize;
}
input[name='volBarMusic']::-webkit-slider-thumb {
  background: #c972df;
}

input[name='volBarRobo']::-moz-range-thumb,
input[name='volBarMusic']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #94cdf5;
  cursor: ew-resize;
}
input[name='volBarMusic']::-moz-range-thumb {
  background: #c972df;
}

input[name='volBarRobo']::-ms-thumb,
input[name='volBarMusic']::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #94cdf5;
  cursor: ew-resize;
}
input[name='volBarMusic']::-ms-thumb {
  background: #c972df;
}

input[name='volBarRobo']::-webkit-slider-thumb:hover {
  background: #94cdf5;
}
input[name='volBarMusic']::-webkit-slider-thumb:hover {
  background: #c972df;
}

input[name='volBarRobo']::-moz-range-thumb:hover {
  background: #94cdf5;
}
input[name='volBarMusic']::-moz-range-thumb:hover {
  background: #c972df;
}

input[name='volBarRobo']::-ms-thumb:hover {
  background: #94cdf5;
}
input[name='volBarMusic']::-ms-thumb:hover {
  background: #c972df;
}

/* Input Track VOLUME */
input[name='volBarRobo']::-webkit-slider-runnable-track,
input[name='volBarMusic']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[name='volBarRobo']::-moz-range-track,
input[name='volBarMusic']::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[name='volBarRobo']::-ms-track,
input[name='volBarMusic']::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
