.controls {
  /* position: relative; */
}

.musicControls {
  /* display: block;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 59px;
}

.musicControls span:hover {
  color: #2a6586;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #94cdf5;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.icon {
  fill: #fff;
  width: 72px;
  height: 72px;
}

.play:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.play:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
  visibility: hidden;
}

.text {
  margin: 0;
  margin-top: 37px;
  font-family: 'CircleRoundedAlt';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  text-align: center;
  color: #94cdf5;
}

/* VOLUME */
.volume {
  position: absolute;
  top: 60px;
  right: 167px;
  display: flex;
  align-items: center;
  transition: all 500ms;
  /* border: 1px solid rgb(255, 0, 255); */
}

/* INPUT VOLUME */
input[type='range'] {
  -webkit-appearance: none;
  width: 114px;
  height: 4px;
  margin-left: 4px;
  background: rgba(185, 226, 255, 0.5);
  border-radius: 5px;
  background-image: linear-gradient(#94cdf5, #94cdf5);
  background-size: 40% 100%;
  background-repeat: no-repeat;
}

/* Input Thumb VOLUME */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #94cdf5;
  cursor: ew-resize;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #94cdf5;
  cursor: ew-resize;
}

input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: #94cdf5;
  cursor: ew-resize;
}

input[type='range']::-webkit-slider-thumb:hover {
  background: #94cdf5;
}

input[type='range']::-moz-range-thumb:hover {
  background: #94cdf5;
}

input[type='range']::-ms-thumb:hover {
  background: #94cdf5;
}

/* Input Track VOLUME */
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type='range']::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type='range']::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
