.controls {
  /* display: flex;
  flex-direction: row;
  height: 110px;
  background: #3a3a3a;
  color: white;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0; */
}

.vlme {
  display: flex;
  align-content: center;
  overflow: hidden;
  width: 25px;
  transition: all 500ms;
  position: absolute;
  left: 0;
  background-color: rgb(133, 86, 86);
}

.vlme:hover {
  width: 90px;
}

.volum {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #4aa9de;
  padding: 10px;
}

#volBar {
  padding: 0;
  margin: 0;
  width: 50px;
  background: transparent;
}

#volBar::-moz-range-thumb {
  height: 10px;
  width: 3px;
  background: #2a6586;
  border-radius: 5px;
  cursor: pointer;
}

.musicControls {
  /* display: block;
  margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 59px;
}

.musicControls span:hover {
  color: #2a6586;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #94cdf5;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.icon {
  fill: #fff;
  width: 72px;
  height: 72px;
}

.play:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.play:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
  visibility: hidden;
}

.text {
  margin: 0;
  margin-top: 37px;
  font-family: 'CircleRoundedAlt';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  text-align: center;
  color: #94cdf5;
}

/* input[type='range'] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #4aa9de;
  border-radius: 5px;
  border: 0px solid #000000;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 13px;
  width: 4px;
  border-radius: 50px;
  background: #2a6586;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #4aa9de;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #4aa9de;
  border-radius: 5px;
  border: 0px solid #000000;
}

input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 13px;
  width: 4px;
  border-radius: 50px;
  background: #2a6586;
  cursor: pointer;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: #4aa9de;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}

input[type='range']::-ms-fill-upper {
  background: #4aa9de;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}

input[type='range']::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 13px;
  width: 4px;
  border-radius: 50px;
  background: #2a6586;
  cursor: pointer;
}

input[type='range']:focus::-ms-fill-lower {
  background: #4aa9de;
}

input[type='range']:focus::-ms-fill-upper {
  background: #4aa9de;
}

.plsoptions {
  justify-self: flex-end;
} */
