@font-face {
  font-family: 'CircleRoundedAlt';
  src: local('CircleRoundedAlt'),
    url('./fonts/CircleRounded/CIRCEROUNDED-REGULAR.TTF') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'CircleRounded3';
  src: local('CircleRounded3'),
    url('./fonts/CircleRounded/CirceRounded-Regular3.otf') format('opentype');
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'CircleRoundedAlt', sans-serif;
  /* padding-top: 75px; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
