.gamePageWrapperRobo {
  width: 100vw;
  /* min-height: 968px; */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1px solid red; */
  background-image: url('../../../../images/BG_blue.svg');
}

.gamePageWrapperMusic {
  composes: gamePageWrapperRobo;
  background-image: url('../../../../images/BG.png');
}
